/*---------------------------------------------------------------------------------------------
REFERENCES
I redesigned the responsive navigation bar using the code below:
Responsive Pure CSS Menu 
https://morioh.com/p/9655fb8c1dad
https://github.com/wilsmex/edu/tree/master/responsive_menu_css_only/finish
-----------------------------------------------------------------------------------------------
This website is a recreated version from one of Danny's previous projects 
and from the project "Snowball Challenge".
http://www.danny.informatikk4.net/Oppgaver/6%20-%20Elektrisk%20Sparkesykkel/index_ELSS.html
https://danny1401.github.io/Snowball-Challenge/index.html
-----------------------------------------------------------------------------------------------*/

a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
}
span {
  position: relative;
  top: 3px;
}

#space {
  border-top: 3px solid black;
  background-color: transparent;
}
#space:hover {
  background-color: transparent;
}

/*----------------------HEADER-------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  height: 82px;
  background-color: white;
  border-bottom: 3px solid black;
  z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  position: relative;
  top: 0px;
  border-top: 1px solid black;
}
.header li a {
  display: block;
  position: relative;
  height: 60px;
  padding: 13px 20px;
  padding-left: 38px;
  border-left: 0px solid black;
  border-top: 2px solid black;
  background-color: white;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1.5;
  opacity: 0.9;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: whitesmoke;
  opacity: 1;
}

.header .logo {
  display: block;
  float: left;
  font-size: 33px;
  font-family: Tahoma, Geneva, sans-serif;
  letter-spacing: 10px;
  padding: 20px 45px;
  text-decoration: none;
  text-shadow: none;
}
strong {
  margin-left: 10px;
}

/*----------------------MENU---------------------*/
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/*-----------------------ICON--------------------*/
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .nav-icon {
  position: relative;
  top: 12px;
  height: 2px;
  width: 18px;
  background: black;
  display: block;
  transition: background 0.2s ease-out;
}
.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header .menu-icon .nav-icon:before {
  top: 6px;
}
.header .menu-icon .nav-icon:after {
  top: -6px;
}

/*----------------------ICON BTN-------------------*/
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 370px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/*------------------------------------------------------------------------------------------*/
@media (min-width: 1180px) {
  .header {
    border-bottom: 3px solid black;
  }
  .header li {
    float: left;
    margin-right: 13px;
  }
  .header ul {
    border-top: none;
  }
  .header li a {
    margin: 14px 1px;
    height: 50px;
    padding: 6px 23px;
    padding-top: 11px;
    color: black;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5;
  }
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #F8F8F8;
  }
  
  #btn1:hover {background: linear-gradient(to right, #ff4d4d 0%, #ff3333 100%);}
  #btn2:hover {background: linear-gradient(to right, #ffa366 0%, #ff8533 100%);}
  #btn3:hover {background: linear-gradient(to right, #00ff80 0%, #00cc66 100%);}
  #btn4:hover {background: linear-gradient(to right, #33ccff 0%, #0099cc 100%);}
  #btn5:hover {background: linear-gradient(to right, #b84dff 0%, #ad33ff 100%);}

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .logo {
    color: black;
    font-size: 39px;
    padding: 14px 60px;
  }

  #space {
    display: none;
  }
}
