@import "./navbar.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.header {
  z-index: 999;
}
.container {
  position: relative;
  text-align: center;
  margin: auto;
  object-fit: cover;
  color: white;
  width: 100%;
  height: 100vh;
}
.img1 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 4px solid black;
}

.container .content {
  position: absolute;
  color: white;
  font-size: 1.9rem;
  text-shadow: 2px 2px black;
  top: 30%;
  left: 15%;
  right: 15%;
  text-align: left;
}

.content p {
  font-weight: medium;
}

.problem {
  margin: 75px;
}

.problem h1 {
  color: black;
  border-bottom: 1px solid black;
}

.problem p {
  margin: 20px 0px 0px;
  color: black;
  line-height: 1.5;
}

.learnmore {
  padding-top: 2rem;
  text-decoration: underline;
}
/*---------------------- Code inspired from snowballchallenge  ---------------------------------------*/
.linkmain {
  display: flex;
}

.linkimg2 {
  flex-basis: 50%;
  object-fit: cover;
  width: 50%;
  height: 500px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  margin: 80px;
}

.linktext-div {
  flex-basis: 50%;
  height: 500px;
  color: black;
  padding: 75px;
  line-height: 1, 5;
}

.linktext-div h2 {
  border-bottom: 1px solid black;
}

.linktext-div p {
  margin: 20px 0px 0px;
  line-height: 1.5;
}
/*-------------------------------------------------------------*/
.content2 {
  display: flex;
  width: 100%;
  max-height: 50%;
  padding: 0px 80px 80px 80px;
}

.image {
  height: 20%;
  width: 20%;
}

.image-big {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/*------------------------- Link 2 ---------------------------------------*/

.d-flex {
  display: flex;
}
.link2content2 {
  display: flex;
  width: 100%;
  max-height: 50%;
  padding: 0px 80px 0px 80px;
}

.link2img2 {
  flex-basis: 50%;
  object-fit: cover;
  max-width: 50%;
  height: auto;
  background-position: center center;
  padding: 10px 0px 0px 0px;
}

.image {
  height: 20%;
  width: 20%;
}

.image {
  height: 20%;
  width: 20%;
}

.box {
  flex: 50%;
  margin: 100px;
  border: 1px solid green;
}

.box h2 {
  font-weight: normal;
  padding: 2rem;
  margin: 0 auto;
  text-decoration: underline;
}

.box p {
  padding: 2rem;
  line-height: 1.5;
}

/*------------------------- Link 3 ---------------------------------------*/

.theconsequences {
  margin: 75px;
}

.demo {
  flex-basis: 50%;
  object-fit: cover;
  width: 50%;
  height: 500px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0, 5);
  padding: 80px;
}

.staff-img {
  border-radius: 50%;
}
/*---------------------- Code inspired from snowballchallenge  ---------------------------------------*/

.link3main {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
}

.link3img2 {
  flex-basis: 50%;
  object-fit: cover;
  max-width: 500px;
  max-height: 500px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0, 1);
  padding: 80px;
  border-radius: 50%;
}

.link3image {
  display: flex;
}

.link3text-div {
  flex-basis: 50%;
  height: 500px;
  color: black;
  padding: 75px;
  line-height: 1, 5;
}

.link3text-div h2 {
  border-bottom: 1px solid black;
}

.link3text-div p {
  margin: 20px 0px 0px;
}

/*------------------------- Link 4 ---------------------------------------*/
.maintitle {
  position: relative;
  background-color: darkgrey; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
  width: 430px;
  color: white;
  border: 2px solid white;
  text-align: center;
  z-index: 2;
  padding: 10px 0px;
}
#test1 {
  display: block;
  margin-top: -20px;
  border: 2px solid black;
}
#test2 {
  display: none;
}

.text-box {
  position: relative;
  margin: 75px 0px;
  width: 70%;
  text-align: left;
}
.text-box h1 {
  color: black;
  border-bottom: 1px solid black;
  text-align: center;
}
.text-box p {
  color: black;
  line-height: 1.8;
  margin-top: 9px;
}

.contentP {
  display: flex;
  width: 100%;
  max-height: 50%;
  padding: 0px 0px 60px 20px;
}
.imgP1 {
  width: 75%;
  padding-left: 25%;
}
.imgP2 {
  width: 75%;
  padding-left: 25%;
}
.imgP3 {
  width: 75%;
  padding-left: 25%;
}

/*------------------------- Link 5 ---------------------------------------*/

.link5container {
  position: relative;
  text-align: center;
  margin: auto;
  object-fit: cover;
  color: white;
  width: 100%;
  height: 100vh;
}

.link5img1 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 4px solid black;
}

.link5container .content {
  position: absolute;
  color: white;
  font-size: 1.9rem;
  text-shadow: 2px 2px black;
  top: 30%;
  left: 15%;
  right: 15%;
  text-align: center;
}

/*------------------------- Footer ---------------------------------------*/

footer {
  background-color: #303030;
  color: white;
  position: relative;
  width: 100%;
  height: 30.5vw;
  padding: 2vw 4vw;
  border-top: 3px solid black;
  line-height: 2;
}
footer h1 {
  font-size: 3.8vh;
}
footer a {
  color: white;
  font-weight: lighter;
  font-style: italic;
}
footer a:active {
  color: blue;
}

#form {
  background-color: #202020;
  color: white;
  border: 1px solid black;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
}
.input {
  position: relative;
  height: 40px;
  width: 300px;
  font-size: 16px;
  padding: 3px 15px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
.textarea {
  height: 90px;
  width: 300px;
  font-size: 17px;
  padding: 10px 15px;
  resize: none;
}
.submit {
  height: 40px;
  width: 301px;
  background-color: black;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  text-shadow: 1.4px 1.4px black;
}
::placeholder {
  color: white;
}

.copyright {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0%;
  text-align: center;
  color: white;
  background-color: #202020;
  margin-bottom: auto;
  width: 100%;
  padding: 20px 0;
  border-top: 3px solid black;
}
#leftF {
  width: 25%;
  float: left;
  text-align: left;
}
#midF {
  position: relative;
  margin-top: -28px;
  float: left;
  width: 39%;
  padding: 30px;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#rightF {
  width: 36%;
  float: left;
  text-align: center;
}

.socialmedia {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.socialmedia:hover {
  cursor: pointer;
}
/*---------------RESPONSIVE---------------*/
@media only screen and (max-width: 640px) {
  .container .content {
    text-align: center;
  }

  /* LINK 4 */
  #align {
    text-align: center;
  }
  .maintitle {
    position: relative;
    top: 100px;
    width: 340px;
    color: white;
    border: 3px solid black;
    text-align: center;
    z-index: 2;
    padding: 10px 20px;
    font-size: 2.3rem;
  }
  #test1 {
    display: none;
  }
  #test2 {
    display: block;
  }

  .text-box {
    margin: 110px 0px;
    width: 70%;
    padding: 0px 0px;
    text-align: left;
  }
  .text-box h1 {
    text-align: left;
  }
  .text-box p {
    line-height: 1.8;
  }

  .imgP1 {
    width: 90vw;
    padding-left: 0%;
    margin-top: -60px;
  }
  .imgP2 {
    width: 80vw;
    padding-left: 5%;
  }
  .imgP3 {
    width: 90vw;
    padding-left: 0%;
  }

  .text-box h1 {
    text-align: left;
  }
  .text-box p {
    line-height: 1.8;
  }

  .imgP1 {
    width: 90vw;
    padding-left: 0%;
    margin-top: -60px;
  }
  .imgP2 {
    width: 80vw;
    padding-left: 5%;
  }
  .imgP3 {
    width: 90vw;
    padding-left: 0%;
  }

  /* FOOTER */
  footer {
    height: 200vw;
    text-align: center;
    padding-top: 10vw;
  }
  footer div div {
    margin-bottom: 70px;
  }
  #midF {
    border: none;
  }
  #leftF,
  #midF,
  #rightF {
    text-align: center;
  }

  #sectionF,
  #leftF,
  #midF,
  #rightF {
    width: 100%;
  }
}
